.novid {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.share {
    z-index: 9999;
}

.chacs {
    z-index: 999;
}

@font-face {
    font-family: "Happy Campers";
    src: url("../fonts/HappyCampersNF.ttf");
}

#preloder {
    position: fixed;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloder .text {
    color: white;
    min-height: 210px;
    min-width: 400px;
}

#preloder #subheading {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 29px;
}

#preloder #heading {
    font-family: 'Happy Campers', arial;
    text-transform: uppercase;
    font-size: 155px;
    display: block;
}

button_striped span:hover {
    background-color: red;
}

.circle_buttons span:hover {
    background-color: rgb(78, 78, 78);
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}